#heartfill {
}

#outline {
 
} 

/* other styles */

body {
  display: flex;
  justify-content:center;
  margin-top:6rem;
  background: #fbacb3;
}

.wrap {
  width:15vw;
  display: flex;
}


.cls-1 {
  fill: #c32d4f;
}

.cls-2 {
  fill: none;
  stroke: #c32d4f;
}