@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@900&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  background:#2c333a;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

h2 {
  margin:0;
  font-size:7em;
  font-weight: 900;
  text-align:center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

span {
   display:inline-block;
   transform-origin: 55% 70%;
    color:#77c6bc;
  
  animation: flipUp 1s cubic-bezier(0.34, 1.56, 0.64, 1)  both, 
            flipDown 1s cubic-bezier(0.34, 1.56, 0.64, 1) 2.75s forwards;
}


span:nth-child(2n) {
  color:#95b8cb;
}

span:nth-child(2) {
  margin-right:0.15em;
  animation-delay: 0.2s, 2.95s;
}

span:nth-child(3) {
  margin-right:0.15em;
  animation-delay: 0.4s, 3.15s;
}

span:nth-child(4) {
  animation-delay: 0.6s, 3.35s;
}

span:nth-child(5) {
  animation-delay: 0.8s, 3.55s;
}

span:nth-child(6) {
  animation-delay: 1s, 3.75s;
}

span:nth-child(7) {
  animation-delay: 1.2s, 3.95s;
}

/* animations */

@keyframes flipUp {
  from {transform:rotateX(90deg);}
  to{transform: rotateX(0deg);}
}


@keyframes flipDown {
  to{
    transform: rotateX(-180deg);  
  }
}