.sticker {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* other styles */
body {
  display: flex;
  justify-content: center;
  margin-top:10em;
  background:#ce2d4f;
}

img {
  width:200px;
}
