
.robot {
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count:3;
  animation-direction: alternate-reverse;
}

@keyframes move {
  100% {
    transform: translateX(700%);
  }
}



















/*------ other styles ---*/

body {
  margin:3em;
  background-color: #433F55;
}

img {width: 100px;}

