@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");


@keyframes wiggle {
  50% {
    transform: translateX(10px) rotate(5deg);
  }
  0%, 100% {
    transform: translateX(-10px) rotate(-5deg);
  }
}

h2 {
  font-size: 10rem;
  font-family: "Fira Sans", sans-serif;
  color: #DCF2B0;
  text-shadow: 3px 3px 0px #59C3C3;
  transform-origin: 50% 0%;
  animation: wiggle 0.6s infinite cubic-bezier(0.65, 0, 0.35, 1);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  background-color: #433F55;
  margin:0;
}